#======== File I/O ===============
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
FramesToBeEncoded             : 300         # Number of frames to be coded
OutputBitDepth                : 8           # Output bitdepth
Level                         : 5

#======== Encoding Parameters ==============
ConformanceMode               : 1